

body {
    font-family: Arial, sans-serif;
    transition: background-color 0.5s, color 0.5s;
}


body.dark-mode {
    background-color: #2c2c2c;
    color: white; 
}

.navbar {
    background-color: #4b0082; 
}

footer {
    background-color: #4b0082; 
    color: white; 
    padding: 10px 0; 
}

footer a {
    color: #A57CB2; 
}

footer a:hover {
    color: #d4d4d4; 
}

body.light-mode {
    background-color: white; 
    color: black; 
}


.bg-dark {
    background-color: #121212; 
}

.text-white {
    color: #ffffff;
}

.bg-light {
    background-color: #ffffff; 
}

.text-dark {
    color: #000000; 
}


.card-body-dark {
    background-color: #444; 
    color: white; 
}


.card {
    display: flex;
    flex-direction: column; 
    height: 300px; 
}

.card-body {
    flex: 1; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: normal; 
}

/* Requête média pour les appareils mobiles */
@media (max-width: 768px) {
    .card {
        height: auto; 
    }
}


/* Thème sombre pour la fenêtre modale */
.modal-content.dark-theme {
    background-color: #343a40; 
    color: #ffffff; 
}

.modal-content.dark-theme .btn-primary {
    background-color: #007bff; 
    border-color: #007bff;
}

.modal-content.dark-theme a {
    color: #ffffff; 
}

.modal-content.dark-theme .close {
    color: #ffffff; 
}